[user]
	name = Mohammed Shiyaf C
	email = mshiyaf@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha

[color]
	ui = auto

[merge]
	tool = nvimdiff
	conflictstyle = zdiff3

[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = default

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[rerere]
	enabled = true

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[github]
	user = mshiyaf

[alias]
	s = status -sb
	lg = log --oneline --graph --decorate -20
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	undo = reset --soft HEAD~1
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
