// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia" "-d"
    spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
    spawn-at-startup "kdeconnect-indicator"
